<p id="notice"><%= notice %></p>

<h1>Phycisions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phycisions.each do |phycision| %>
      <tr>
        <td><%= phycision.name %></td>
        <td><%= link_to 'Show', phycision %></td>
        <td><%= link_to 'Edit', edit_phycision_path(phycision) %></td>
        <td><%= link_to 'Destroy', phycision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phycision', new_phycision_path %>
